_BASE_: "../Base-RCNN-FPN.yaml"
MODEL:
  META_ARCHITECTURE: "TwoStagePseudoLabGeneralizedRCNN"
  WEIGHTS: "pretrained/r50.pkl"
  MASK_ON: False
  BACKBONE:
    FREEZE_AT: 2  # NEW: Freeze first 2 stages of ResNet
  RESNETS:
    DEPTH: 50
  PROPOSAL_GENERATOR:
    NAME: "PseudoLabRPN"
  RPN:
    POSITIVE_FRACTION: 0.1  # REDUCED
    PRE_NMS_TOPK_TRAIN: 2000  # ADD: More proposals for few-shot
    POST_NMS_TOPK_TRAIN: 1000  # ADD
  ROI_HEADS:
    NUM_CLASSES: 20
    NAME: "StandardROIHeadsPseudoLab"
    LOSS: "FocalLoss"
SOLVER:
  LR_SCHEDULER_NAME: "WarmupMultiStepLR"
  STEPS: (6000, 8000)  # EXTENDED
  MAX_ITER: 10000  # INCREASED
  IMG_PER_BATCH_LABEL: 8  # REDUCED
  BASE_LR: 0.001  # REDUCED significantly
  WEIGHT_DECAY: 0.0001
DATASETS:
  TRAIN: ('dior_5shot',)
  TEST: ('dior_test',)
KD:
  BURN_UP_STEP: 3000  # INCREASED: Let student learn from data first
  BBOX_THRESHOLD: 0.5  # LOWERED: More tolerant in few-shot
  TEACHER_UPDATE_ITER: 1
  EMA_KEEP_RATE: 0.9996
  LOSS_WEIGHT: 1.0  # REDUCED: Less KD influence
INPUT:
  MIN_SIZE_TRAIN: (800, 800)  # ADD: Fixed size can help
  MAX_SIZE_TRAIN: 1333
  MIN_SIZE_TEST: 800
  MAX_SIZE_TEST: 1333
OUTPUT_DIR: "checkpoints/dior/5shot"